.cat {
    justify-content: center;
    margin: 20px;
    font-family: 'Lato', sans-serif;

    img {
        width: 200px;
    }

    p {
        font-weight: bold;
        font-size: 18px;
        text-align: center;
    }
}

.title {
    text-align: center;
}